#root {
  max-width: 600px;
  margin: 0 auto;
}


.defaultColor {
	color: rgba(255, 255, 255, 0.87);
}

.defaultColor:hover {
	color: rgba(255, 255, 255, 0.87);
}

.archiveBtn {
	width: 300px;
}
.archive {
	display:inline;
	color: rgba(255, 255, 255, 0.87);
}

p {
	line-height: 0.75;
}
.about {
	line-height: 1.3;
}